body{
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    font-family: 'ABeeZee', sans-serif;
}
button{
    background-color: rgb(255, 234, 116);
    margin: 10px;
}
div{
    background-color: white;
    border-radius: 5px;
}